:root {
  --h1: 28px;
  --h2: 25px;
}

.theme-light {
  --text-normal: #333333;
  --text-muted: rgb(102, 102, 102);
  --text-blockquote: rgb(102, 102, 102);
  --text-accent: rgba(10, 132, 255, 1);
  --text-accent-hover: rgba(10, 132, 255, 1);
  --interactive-accent: rgba(10, 132, 255, 1);
  --text-selection: #ACCEF7;
}

.theme-dark {
  --text-accent: rgb(112, 184, 255);
  --text-accent-hover: rgb(112, 184, 255);
  --interactive-accent: rgb(112, 184, 255);
  --text-selection: #accef777;
}

.markdown-rendered h2,
.markdown-preview-view h2,
.cm-s-obsidian .cm-header-2 {
  font-weight: normal;
  margin-top: 1.5em;
}

.links-int-on .is-live-preview .cm-hmd-internal-link,
.links-int-on .markdown-preview-view .internal-link,
.links-int-on .cm-s-obsidian span.cm-hmd-internal-link,
.markdown-preview-view .internal-link {
  text-decoration: none;
}

.links-ext-on .external-link,
.external-link {
  text-decoration: none;
}

ul > li::marker,
ol > li::marker {
  color: var(--text-normal);
}

ul > li.is-collapsed::marker,
.markdown-source-view.mod-cm6 .is-collapsed ~ .cm-formatting-list .list-bullet:after {
  color: var(--text-normal);
}

.markdown-preview-view hr {
  height: 1px;
  border-width: 1px 0 0 0;
}
